In [3]:
N = int(input())
a = list(map(int, input().split(' ')))
st = set(a)
ls = list(st)
ls.sort()
for i in ls:
    print(i, end = ' ')

10
1 4 2 3 1 4 2 3 1 2
[1, 2, 3, 4]